<div>
    <h1>Thêm mới sản phẩm</h1>
    <form action="">
       <div class="mt-3">
           <label for="">Tên sản phẩm</label>
           <input type="text" class="form-control" name="name" id="" ng-model="name">
       </div>
       <div class="mt-3">
        <label for="">Giá sản phẩm</label>
        <input type="text" class="form-control" name="price" id="" ng-model="price">
    </div>
    <div class="mt-3">
        <label for="">Mô tả</label>
        <input type="text" class="form-control" name="description" id="" ng-model="description">
    </div>
    <div class="mt-3">
        <button type="button" class="btn btn-success" ng-click="create()">Gửi</button>
    </div>
    </form>
</div>